body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

.shopping-lists {
  background-color: #f5f5f5;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Dark Theme Styles */
body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode .shopping-lists {
  background-color: #444444;
}

body.dark-mode button {
  background-color: #f44336;
}

body.dark-mode .list-tile {
  background-color: #555555;
}

body.dark-mode .confirm-modal {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.theme-toggle {
  background-color: #6200ea;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
}
